.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    /* 或 'contain'，根据你的需求调整 */
    background-repeat: no-repeat;
    filter: blur(10px);
    /* 调整模糊程度 */
    opacity: 0.3;
    /* 调整半透明程度 */
    z-index: -1;
    /* 确保伪元素位于内容之下 */
    -webkit-mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.6) 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.6) 85%, transparent 100%);
}

.sign-img {
    width: 830px;
    /* 从上向下透明渐变 */
    -webkit-mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.9) 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.9) 85%, transparent 100%);
    margin-bottom: -5%;
}

.sign-text {
    text-align: center;
    font-size: 36px;
    font-family: "ys";
    color: rgba(0, 0, 0, 0.9);
    /* 白色描边 */
    text-shadow: 0 0 1px #fff, 1px 1px 3px rgba(255, 255, 255, 0.9);
}

.sign-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(0, 10px);
}

.sign-name {
    font-family: 黑体;
    font-weight: bold;
    font-size: 38px;
    /* 斜体 */
    font-style: italic;
}

.sign-role {
    font-size: 65px;
    font-family: "nzbz";
    color: rgba(0, 0, 0);
}

.has-sign {
    color: #ff3300;
}

.sign-history {
    margin: 10px 10px 10px 30px;
    color: grey;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* 文本不换行 */
    white-space: nowrap;
}

.sign-history-roles {
    /* 文本换行 */
    white-space: normal;
}

.sign-history-roles span {
    white-space: nowrap;
}

.sign-interrupt {
    margin-top: 10px;
}

.sign-daily {
    /* 浅灰偏白 */
    border-radius: 30px;
    background-image: url(https://plat-cdn.manjuu.com/platform/P3OfficialWebsite/prod/_next/static/media/background_detail.209134db.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
    -webkit-backdrop-filter: blur(.05rem);
    backdrop-filter: blur(0.05rem);
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow:
        10px 10px 20px rgba(0, 0, 0, 0.1),
        /* 深色阴影 */
        -10px -10px 20px rgba(255, 255, 255, 0.5);
    /* 白色高光 */
    color: rgb(0, 0, 0, 0.9);
    /* 可选：添加边框圆角 */
    border-radius: 10px;
    margin: 20px 30px;
    padding: 20px;
    font-size: 24px;
}

.sign-daily-from {
    text-align: right;
    font-size: 20px;
}