.hero-atlas {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    font-size: 32px;
}

.hero-img {
    width: 500px;
    z-index: 0;
    /* 从上向下透明渐变 */
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, black 85%, transparent 100%);

}

.hero-img-img {
    width: 500px;
    height: 600px;
    /* 背景左右70%，上下居上 cover */
    background-position: 70% top;
    background-size: cover;
    /* 从上向下透明渐变 */
    -webkit-mask-image: linear-gradient(to right, black 0%, black 85%, transparent 100%);
    mask-image: linear-gradient(to right, black 0%, black 85%, transparent 100%);
}

.hero-base {
    margin: 12px;
    flex: 1;
    text-align: right;
    font-size: 36px;
}

.hero-base .hero-name {
    font-size: 56px;
    font-family: ys;
}


.hero-word,.hero-skill,.hero-ties {
}

.hero-word>:first-child,.hero-skill>:first-child,.hero-ties>.hero-tie>:first-child {
    position: relative;
    font-size: 34px;
    font-weight: bold;
}

.hero-word>:first-child::before,.hero-skill>:first-child::before,.hero-ties>.hero-tie>:first-child::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* 垂直居中 */
    height: 80%;
    /* 竖线高度，相对于背景色块 */
    width: 4px;
    background-color: #1890ff;
    /* 竖线颜色 */
    border-radius: 2px;
    /* 竖线圆角 */
}

.hero-word>:last-child,.hero-skill>:last-child,.hero-ties>.hero-tie>:last-child {
    padding-left: 12px;
}









.border {
    /* 浅灰偏白 */
    -webkit-backdrop-filter: blur(.05rem);
    backdrop-filter: blur(0.05rem);
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow:
        10px 10px 20px rgba(0, 0, 0, 0.1),
        /* 深色阴影 */
        -10px -10px 20px rgba(255, 255, 255, 0.5);
    /* 白色高光 */
    color: rgb(0, 0, 0, 0.9);
    /* 可选：添加边框圆角 */
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}