



.hero-imgs {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.hero-img {
    margin: 10px 0 0 10px;
}


.hero-text {
    width: 100%;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.75);
    color: black;
    font-family: ys;
    padding: 3px 0;
}