.hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero-list::after {
    content: "";
    flex: auto;
    min-width: 100px;
    /* 或指定宽度，如 width: 30% */
}

.hero-item {
    margin: 5px 6px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.hero-img {
    width: 115px;
    height: 125px;
    display: inline-block;
}

.hero-rarity {
    height: 0;
    overflow: visible;
}

.hero-rarity img {
    height: 20px;
    margin-left: 50%;
    transform: translate(-50%, -12px);
}

.hero-text {
    width: 100%;
    text-align: center;
}

.hero-SR .hero-text {
    padding: 5px 0 3px 0;
    border-top: 3px solid #945aff;
    background-image: linear-gradient(to bottom, #2d1b4d, #2d1b4d, #190f2b, #050309);
}

.hero-SSR .hero-text {
    padding: 5px 0 3px 0;
    border-top: 3px solid #ecc566;
    background-image: linear-gradient(to bottom, #473b1f, #473b1f, #2b2413, #080704);
}

.hero-item .suffix {
    position: absolute;
    top: 3px;
    right: 3px;
}

.hero-item .suffix img {
    width: 25px;
    background-color: #a69fff;
    border-radius: 50%;
}

.hero-item .suffix br + img {
    margin-top: 3px;
}