@charset "UTF-8";

@font-face {
  font-family: "sr";
  src: url("./font/sr.ttf") format("truetype");
}

@font-face {
  font-family: "tttgbnumber";
  src: url("./font/tttgbnumber.ttf") format("truetype");
}

@font-face {
  font-family: "ys";
  src: url("./font/ys.ttf") format("truetype");
}

@font-face {
  font-family: "nzbz";
  src: url("./font/nzbz.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "sr", sans-serif;
  transform-origin: 0 0;
  font-size: 18px;
  width: 830px;
}

.container {
  width: 830px;
  background-size: contain;
  padding-bottom: 10px;
  position: relative;
}


/* 标题 */
.head-box {
  border-radius: 15px;
  padding: 30px 20px 10px;
  position: relative;
  color: #fff;
}

.head-box .title {
  font-family: "tttgbnumber", nzbz, ys, PingFangSC-Medium, "PingFang SC", sans-serif;
  font-size: 48px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .title .label {
  display: inline-block;
  margin-left: 10px;
}

.head-box .genshin_logo {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 97px;
}

.head-box .label {
  font-size: 20px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
  padding: 5px 0;
}

.head-box .label span {
  color: #d3bc8e;
  padding: 0 2px;
}

/* 列表样式 */
.head-box .item {
  position: relative;
  padding-left: 1.5em;
  /* 为伪元素预留空间 */
}

.head-box .item::before {
  content: "🍀 ";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  margin-right: 0.5em;
}

.head-label {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(.05rem);
  backdrop-filter: blur(0.05rem);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow:
    10px 10px 20px rgba(0, 0, 0, 0.15),
    /* 深色阴影 */
    -10px -10px 20px rgba(255, 255, 255, 0.5);
  /* 白色高光 */
}

/* 主體 */
.main-box {
  padding: 12px;
  margin: 5px 20px 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(.05rem);
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.3) 100%);
  backdrop-filter: blur(0.05rem);
  box-shadow:
    10px 10px 20px rgba(0, 0, 0, 0.15),
    /* 深色阴影 */
    -10px -10px 20px rgba(255, 255, 255, 0.5);
  /* 白色高光 */
  color: white
}



.copyright {
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin: 10px 0;
}

.copyright .version {
  color: #d3bc8e;
  display: inline-block;
  padding: 0 3px;
}



/* mark样式 */
mark {
  background-color: #2F2F2F;
  /* 灰黑色背景 */
  color: #D4AF37;
  /* 烫金色文本（接近金色） */
  border-radius: 8px;
  /* 圆角 */
  padding: 2px 4px;
  /* 可选：增加内边距使文本不贴边 */
}

/* 背景样式 */
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  /* 或 'contain'，根据你的需求调整 */
  background-repeat: no-repeat;
  filter: blur(10px);
  /* 调整模糊程度 */
  opacity: 0.6;
  /* 调整半透明程度 */
  z-index: -1;
}