.background {
    filter: blur(30px);
    /* 调整模糊程度 */
}

.qibo-atlas {
    display: flex;
}

.qibo-box {
    flex: 1;
}

.qibo-info {
    margin: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow:
        10px 10px 20px rgba(0, 0, 0, 0.1),
        /* 深色阴影 */
        -10px -10px 20px rgba(255, 255, 255, 0.5);
    /* 白色高光 */
    overflow: hidden;
    font-size: 28px;
}

.qibo-info div {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.qibo-info div:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.qibo-info div span:first-child {
    font-family: ys;
    /* 烫金色 */
    color: #81650b;
}


.qibo-name {
    font-size: 65px;
    font-family: "nzbz";
    text-align: right;
    padding: 10px 20px 0 20px;
}