
{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{pluResPath}}/common/common.css" />
<link rel="stylesheet" type="text/css" href="{{pluResPath}}/qibo/atlas.css" />
{{/block}}

{{block 'main'}}
<div class="container" id="container">
    <div class="background" style="background-image: url({{img}})"></div>
    <div class="qibo-atlas">
        <img width="500" class="qibo-img" src="{{img}}" alt="图片加载失败">
        <div class="qibo-box">
            <div class="qibo-name"> {{name}} </div>
            <div class="qibo-info">
                <div> <span></span> <span> {{item1}}</span> </div>
                {{if item2}}
                <div> <span></span> <span>{{item2}}</span> </div>
                {{/if}}
                {{if grow}}
                <div> <span>种族</span> <span>{{grow}}</span> </div>
                {{/if}}
                {{if attr}}
                <div> <span>属性</span> <span>{{attr}}</span> </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="copyright">{{@sys.copyright}}</div>
</div>
{{/block}}