

.item-title {
    padding: 10px 20px;
    background-color: hwb(208 94% 0% / 0.75);
    /* 背景色 */
    border-radius: 8px;
    /* 圆角 */
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
    margin: 12px 10px 0 10px;
}
.item-title span{
    font-size: 14px;
}

.item-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* 垂直居中 */
    height: 80%;
    /* 竖线高度，相对于背景色块 */
    width: 4px;
    background-color: #1890ff;
    /* 竖线颜色 */
    border-radius: 2px;
    /* 竖线圆角 */
}



.qibo-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.qibo-item {
    margin: 10px 0 0 10px;
}

.qibo-item img {
    object-fit: cover;
    object-position: 50%;
}


.qibo-text {
    width: 100%;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.75);
    color:black;
    font-family: ys;
    padding: 1px 0;
}