.content {
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    margin-top: 30px;
    font-size: 150px;
    color: white;
    font-family: title02;
    text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);

}

.nav {
    font-size: 40px;
    font-family: text01;
    padding: 0 0 0 12px;
    text-align: center;
}

.userimg {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    transform: translateY(10px);

}

.username {
    font-family: title01;
}

.img {
    width: 700px;
}

.name {
    font-size: 120px;
    font-family: title01;
}

.description {
    font-size: 60px;
    font-family: text01;
}