{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{pluResPath}}/hero/atlas.css" />
{{/block}}

{{block 'main'}}
<div class="hero-atlas">
    <div class="hero-img">
        <div class="hero-img-img" style="background-image: url('{{pluResPath}}{{heroImg}}');"></div>
    </div>
    <div class="hero-box">
        <div class="hero-basic-message">
            <div class="hero-name">{{heroName}}</div>
            <div class="hero-race">
                <span>{{race}}</span>
                {{if home}}
                <span> {{home}}</span>
                {{/if}}
            </div>
            {{if nickname?.length}}
            <div class="hero-nickname">
                <div>别名：</div>
                <div>
                    {{nickname.join('、')}}
                </div>
            </div>
            {{/if}}
            <div class="hero-introduce">&nbsp;&nbsp;&nbsp;&nbsp;{{introduce}}</div>
            {{if words?.length}}
            <div class="hero-words">
                台词：
                {{each words word}}
                <div class="hero-word">{{word}}</div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{if skill}}
        <div class="skill other">
            <div class="skill-name">{{@skill.name}}</div>
            <div class="slill-describe">{{@skill.describe}}</div>
            <div class="suffix">数据来源：BWiki</div>
        </div>
        {{/if}}
        <!-- <div class="other"></div> -->
    </div>
</div>
{{/block}}