{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{pluResPath}}/common/common.css" />
<link rel="stylesheet" type="text/css" href="{{pluResPath}}/hero/list.css" />
{{/block}}


{{block 'main'}}
<div class="container" id="container">
    <div class="background" style="background-image: url({{pluResPath}}{{heroImg}})"></div>
    <div class="head-box">
        <div class="title">角色列表 <span class="label">共{{heros.length}}个角色</span> </div>
        <div class="head-label">
            <div class="label item">发送 <mark>{{rulePrefix}}寒悠悠图鉴</mark> 查看角色图鉴 </div>
            <div class="label item">发送 <mark>{{rulePrefix}}寒悠悠图片列表</mark> 查看角色图片 </div>
        </div>
    </div>
    <div class="main-box hero-list">
        {{each heros hero idx}}
        <div class="hero-item hero-{{hero.rarity}}">
            <img class="hero-img" src="{{pluResPath}}{{hero.heroImg}}" alt="暂无图片" />
            <div class="suffix">
                {{if hero.career}}
                <img src="{{pluResPath}}/icon/职业/{{hero.career}}.png" alt="">
                <br>
                {{/if}}
                {{if hero.attr}}
                <img src="{{pluResPath}}/icon/属性/{{hero.attr}}.png" alt="">
                {{/if}}
            </div>
            <div class="hero-rarity">
                <img src="{{pluResPath}}/icon/avatar-frame/稀有度-{{hero.rarity}}.png" alt="">
            </div>
            <div class="hero-text">{{hero.heroName}}</div>
        </div>
        {{/each}}
    </div>
    <div class="copyright">{{@sys.copyright}}</div>
</div>

{{/block}}